html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
 
body {
    font-family:'Poppins', sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    background-color: #000;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    transition: all 1s ease;
  }
/*inicio*/
header {
      width: 30px;
      height: 30px;
      border: 1.5px black solid;
      border-radius: 5px;
      box-shadow: 5px 5px 5px black;
      background-color: rgba(201, 249, 245, 0.196);
      margin: 20px;
      padding: 10px;
  
  }
  
header img {
    
    width: 28px;
    height: 28px;
    align-items: center;
    
  
}

#contenedor-gral {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

/*reloj*/
#reloj-fechayhora {
    justify-content: flex-star;
    background-color: red; 
    margin-top: 30px;
    
}

.fecha {
    display: flex;
    flex-direction: row;
    line-height: 1em;
    margin-bottom: 2px;
    gap: 10px;
    justify-content: center;
    padding: 8px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: white;
    font-size: 25px;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
}

.reloj {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: transparent;
    font-size: 50px;
    font-weight: bold;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: white;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
}



#el-tiempo {
    background-color: rgba(128, 128, 128, 0.304);
    display: flex;
    overflow-x: scroll;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 600px;
    height: 250px;
    
}


/*bien-no tocar mas*/

.localizacion {
    width: 200px;
    color: white;
    text-align: start;
    margin-top: 5px;
    margin-right: 9px;
    
}
#ubicacion {
    font-size: 40px;
    font-weight: 500;
}
#zona {
    font-size: 25px;
}

.container-tiempo {
    background-color: blue;
    display: flex;
    flex-direction: column;
}

.container-prevision {
    background-color: transparent;
    display: flex;
    text-align: center;
    align-content: center;
    width: 90px;
    box-sizing: border-box;
    gap:10px;
    
}
#temperatura, #humedad, #condiciones {
    color:yellow;

}
.container-tiempo {
    color: violet;
}
    
    


/*CONTRASEÑA*/
.container-gral {
    background-color: transparent;
    margin-top: 15px ;
    line-height: 1em;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: white;
    margin-bottom: 2px;
    gap: 10px;
    justify-content: center;
    font-size: 25px;
}

section {
    color: rgb(68, 66, 66);
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 10px;
    padding: 5px;
    width: 500px;
    padding-bottom: 15px;
}

#anchor-pass {
    border: 1px solid #609ac5;
    width: 40px;
    height: 30px;
    margin: 3px;
    padding: 3px;
}

div #check {
    display: flex;
    flex-direction: row;
    font-size: 18px;
    justify-content: center;
    padding-top: 15px;
    gap: 8px;
}

.contraseña-generada {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 15px;
    padding: 25px;
    border: 1px #adbdde3d solid;
    border-radius: 9px;
    
}

.contraseña-exitosa {
    background-color: #609ac5;

}
.character-selector {
    font-size: 20px;
    margin: 10px;
}

#btn-generador {
    flex-wrap: wrap;
    height: 80px;
    appearance: none;
    background-color: transparent;
    border: 2px solid #609ac5;
    border-radius: 15px;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 60px;
    min-width: 0;
    outline: none;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
   
}

#btn-generador:disabled {
    pointer-events: none;
  }
  
  #btn-generador:hover {
    color: #fff;
    background-color: #609ac5;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
  }
  
  #btn-generador:active {
    box-shadow: none;
    transform: translateY(0);
}

#contraseña-exitosa {
    color: red;
}  





/*footer*/

ul {
    display: flex;
    gap: 50px;
    list-style-type: none;
    
}

li a {
    text-decoration: none;
    
}

footer {
    position: fixed;
    display: flex;
    flex-direction: row-reverse;
    min-height: 70px;
    width: 60%;
    bottom: 0;    
    
}
footer img {
    width: 28px;
    height: 28px;
    right: 0;
}

hr {
    color:#609ac5;
    position: absolute;
    right: 0;
    width: 60%;
    bottom: 0;    
}


/*links*/
#links-favoritos {
    background-color: transparent;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: white;
    width: 500px;
    height: 130px;
    position: relative; 
    transform: translate(-55px, -20px);
    
}
#links-favoritos h2 {
    font-size: 25px;
    width: 100%;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
    margin:0px;
}

#name-url{
    flex-direction: row-reverse;
    align-content: flex-start;
    align-items: flex-start;
    margin-left: 0;
    position: absolute;
    width: 250px;
    top: 75px; 
    left: 40px; 
}
#url {
    flex-direction: row-reverse;
    align-content: flex-start;
    align-items: flex-start;
    margin-left: 0;
    position: absolute;
    width: 250px;
    top: 105px; 
    left: 40px; 
}
#añadir-enlace {
    display: flex;
    flex-wrap: wrap;
    height: 80px;
    appearance: none;
    background-color: transparent;
    border: 2px solid #609ac5;
    border-radius: 15px;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 60px;
    min-width: 0;
    outline: none;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
    margin-top: 40px;
    margin-right: 40px;
}

#añadir-enlace:disabled {
  pointer-events: none;
}

#añadir-enlace:hover {
  color: #fff;
  background-color: #609ac5;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

#añadir-enlace:active {
  box-shadow: none;
  transform: translateY(0);
}

input::placeholder {
    font-size: 15px; 
    color: #888; 
  }



 #link-lista {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: start;
    align-content: start;
    width: 500px;
    height: 80px;
    gap: 20px;
    padding: 20px;
    overflow: auto;
    transform: translate(-230px, 150px);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    justify-content: center;
    position: absolute;
    right: -100px; 
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
}

#link-lista a {
    text-decoration: none;
    color: #000;
    }
   
#link-lista li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
  }
  
  
  

 