html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
 
body {
    font-family:'Poppins', sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    background-color: #000;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    transition: all 1s ease;
  }


#contenedor-gral {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
      
}

#reloj-fechayhora {
    justify-content: flex-star;
    margin-top: 30px;
    
}

.fecha {
    display: flex;
    flex-direction: row;
    line-height: 1em;
    margin-bottom: 2px;
    gap: 10px;
    justify-content: center;
    padding: 8px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: white;
    font-size: 25px;
}

.reloj {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: transparent;
    font-size: 50px;
    font-weight: bold;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: white;

}



#el-tiempo {
    background-color: rgba(128, 128, 128, 0.304);
    display: flex;
    overflow-x: scroll;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 600px;
    height: 250px;
    
}
.localizacion {
    width: 200px;
    color: white;
    text-align: start;
    margin-top: 5px;
    margin-right: 9px;
    
}
#ubicacion {
    font-size: 40px;
    font-weight: 500;
}
#zona {
    font-size: 25px;
}

.container-tiempo {
    background-color: blue;
    display: flex;
    flex-direction: column;
}

.container-prevision {
    background-color: transparent;
    display: flex;
    text-align: center;
    align-content: center;
    width: 90px;
    box-sizing: border-box;
    gap:10px;
    
}
#temperatura, #humedad, #condiciones {
    color:yellow;

}
.container-tiempo {
    color: violet;
}
    
    





#links-favoritos {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: white;
    width: 400px;
    height: 400px;
    

}

.container-gral {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: white;
}

section {
    color: rgb(68, 66, 66);
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 10px;
    padding: 5px;
    width: 500px;
    padding-bottom: 15px;
}

header {
    width: 100px;
    border: 1.5px black solid;
    border-radius: 5px;
    box-shadow: 5px 5px 5px black;
    background-color: rgba(201, 249, 245, 0.363);
    margin: 20px;
    padding: 10px;

}

header a {
    color: rgb(124, 126, 126);
    text-decoration: none;
    letter-spacing: .5px;
}

#anchor-pass {
    width: 35px;
    height: 25px;
    margin: 3px;
    padding: 3px;

}

div #check {
display: flex;
flex-direction: row;
font-size: 18px;
justify-content: center;
padding-top: 15px;
gap: 8px;


}

div .contraseña-generada {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 15px;
    padding: 25px;
    border: 2px white solid;
    border-radius: 9px;

}

.contraseña-exitosa {
    color: white;
    font-weight: bolder;
    font-size: 25px;
}
.character-selector {
    font-size: 20px;
    margin: 10px;
}

#btn-generador {
    padding: 10px;
    margin-top: 8px;
    background-color: #8896a0a4;
    border-radius: 3px;
    font-size: 18px;
    box-shadow: 3px 3px 3px black;
    

}
ul {
    display: flex;
    gap: 50px;
    list-style-type: none;
    
}

li a {
    text-decoration: none;
    
}

footer {
    position: fixed;
    display: flex;
    flex-direction: row-reverse;
    min-height: 70px;
    width: 60%;
    bottom: 0;    
    
}

hr {
    position: absolute;
    right: 0;
    width: 60%;
    bottom: 0;    
}
