body {
    padding: 0;
    margin: 0;
    font-family: "Lexend Giga", sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: background-image 1s ease-in-out;
    height: 100vh;
    width: 100vh;
    
}

section {
    
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 10px;
    padding: 5px;
    width: 500px;
    padding-bottom: 15px;
}

header {
    width: 100px;
    border: 1.5px black solid;
    border-radius: 5px;
    box-shadow: 5px 5px 5px black;
    background-color: rgba(201, 249, 245, 0.363);
    margin: 20px;
    padding: 10px;

}

header a {
    color: rgb(124, 126, 126);
    text-decoration: none;
    letter-spacing: .5px;
}

#anchor-pass {
    width: 35px;
    height: 25px;
    margin: 3px;
    padding: 3px;

}

div #check {
display: flex;
flex-direction: row;
font-size: 18px;
justify-content: center;
padding-top: 15px;
gap: 8px;


}

div .contraseña-generada {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 15px;
    padding: 25px;
    border: 2px white solid;
    border-radius: 9px;

}

.contraseña-exitosa {
    color: white;
    font-weight: bolder;
    font-size: 25px;
}
.character-selector {
    font-size: 20px;
    margin: 10px;
}

#btn-generador {
    padding: 10px;
    margin-top: 8px;
    background-color: #8896a0a4;
    border-radius: 3px;
    font-size: 18px;
    box-shadow: 3px 3px 3px black;
    

}
ul {
    display: flex;
    gap: 50px;
    list-style-type: none;
    
}

li a {
    text-decoration: none;
    
}

footer {
    position: fixed;
    display: flex;
    flex-direction: row-reverse;
    min-height: 70px;
    width: 60%;
    bottom: 0;    
    
}

hr {
    
    position: absolute;
    right: 0;
    width: 60%;
    bottom: 0;    
}